extends ../layout/default

block content
  .container
    .row
      .jumbotron
        h2 lime: image gallery
        p
          | Welcome to lime's image gallery.
    .row
      .col-sm-6.col-md-3.well: h3 NPR Filters
      .col-sm-6.col-md-3
        .thumbnail
          img(src="public/img/cartoon.jpg", width="100%")
          .caption
            span.bold-face Cartoon Pipeline
      .col-sm-6.col-md-3
        .thumbnail
          img(src="public/img/mean_curvature.jpg", width="100%")
          .caption
            span.bold-face Mean Carvature Flow
      .col-sm-6.col-md-3
        .thumbnail
          img(src="public/img/shock_filter.jpg", width="100%")
          .caption
            span.bold-face Shock Filter

    .row
      .col-sm-6.col-md-3.well: h3 Color Constancy
      .col-sm-6.col-md-3
        .thumbnail
          img(src="public/img/horn.jpg", width="100%")
          .caption
            span.bold-face Horn's approach
      .col-sm-6.col-md-3
        .thumbnail
          img(src="public/img/rahman.jpg", width="100%")
          .caption
            span.bold-face Rahman's approach
      .col-sm-6.col-md-3
        .thumbnail
          img(src="public/img/faugeras.jpg", width="100%")
          .caption
            span.bold-face Faugeras's approach
            
              
